<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yactouat.fr</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>

    <header>
        <img src="./assets/images/yactouat.jpeg" alt="yactouat's picture" />
        <h1>yactouat.fr</h1>
        <h2>web developer / mentor en développement web</h2>
        <p class="header_about-text">
            Développeur web généraliste, curieux, motivé et positif; j'aime concevoir des solutions full stack afin de vous aider à relever vos challenges.
        </p>
        <div id="header_social-icons">
            <a class="header_social-icon" href="https://www.linkedin.com/in/yactouat/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="header_social-icon" href="https://dev.to/yactouat" target="_blank"><i class="fa-brands fa-dev"></i></a>
            <a class="header_social-icon" href="https://github.com/yactouat" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a class="header_social-icon" href="https://twitter.com/yactouat" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="header_social-icon" href="https://stackoverflow.com/users/9499355/yactouat" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
            <a class="header_social-icon" href="https://www.meetup.com/fr-FR/members/313767573/" target="_blank"><i class="fa-brands fa-meetup"></i></a>
        </div>
    </header>

    <main>
        <h3 class="main_presentation_heading">Qui je suis</h3> 
        <div class="main_presentation">
            <section class="main_presentation-section">
                <h4 class="main_presentation-section_heading">A mon propos</h4>
                <div class="main_presentation-section_text">
                    <p>En tant que développeur, j'aime l'efficience, l'optimisation, les processus d'amélioration continue.</p>
                    <p>Je veux consommer et produire des solutions simples et intuitives, automatisées.</p>
                    <p>Professionel dans le monde du développement web depuis cinq ans, je me sens particulièrement accompli quand mon travail permet d'améliorer au mieux le quotidien de mes partenaires, clients, collègues, élèves, etc.</p>
                    <p>J'aime aborder mes projets en m'appuyant sur des tests automatisés et sur un feedback régulier des utilisateurs finaux de mes solutions.</p>
                    <p>Sur une codebase existante ou from scratch, donnez-moi des problèmes à résoudre ! <i class="fa-solid fa-wrench"></i></p>
                </div>
            </section>
            <section class="main_presentation-section">
                <h4 class="main_presentation-section_heading">Ma proposition de projet</h4>
                <div class="main_presentation-section_text">
                    <p>Un projet réussi est un projet clôturé sans y perdre sa tête ou son temps. C'est là que j'interviens, en m'assurant que nous irons loin ensemble, itération après itération. <i class="fa-solid fa-arrows-spin"></i></p>
                    <p>Vous avez besoin d'un accompagnement personnalisé ? De prestations de consulting IT ou encore de formation ?</p>
                    <p>En travaillant avec moi, vous serez assuré que mon expérience, mon expérience, mon opiniâtreté, ainsi que mon aisance relationnelle avec vous et vos équipes nous permettront d'atteindre vos objectifs. <i class="fa-solid fa-rocket"></i></p>
                    <p>Je vous accompagnerai avec expertise, rigueur, passion, et enthousiasme tout le long du cycle de vie de votre application.</p>
                    <p>En tant que développeur full stack, mon expérience m'a permis d'implémenter toutes sortes de solutions avec diverses technologies: PHP (natif, Laravel, ou Symfony), la MERN stack, des bases de données documents ou relationnelles, de la containerisation avec Docker et Kubernetes, des CI/CD pipelines, la Google Cloud Platform...</p>
                    <p>En tant que formateur en développement web pour des établissements reconnus (<a href="https://openclassrooms.com/fr/" target="_blank">OpenClassrooms</a>, <a href="https://www.wildcodeschool.com/en-GB" target="_blank">Wild Code School</a>, <a href="https://www.udacity.com/" target="_blank">Udacity</a>), j'ai acquis les techniques pédagogiques nécessaires pour enseigner mes connaissances à tous types de publics: j'adore transmettre !</p>
                </div>
            </section>
            <section class="main_presentation-section">
                <h4 class="main_presentation-section_heading">Mon expérience professionnelle</h4>
                <div class="main_presentation-section_text">
                    <p>Permettez-moi de partager avec vous une liste du type de fonctionnalités et missions que j'ai pu réaliser: <i class="fa-solid fa-trophy"></i></p>
                    <ul>
                        <li>La création de microservices découplés sur la Google Cloud Platform utilisant la technologie Pub/Sub.</li>
                        <li>Un template de facturation pour une application PHP d'agenda à destination de cabinets médicaux.</li>
                        <li>Un chatbot utilisant l'API Telegram pour prendre des congés de manière automatisée.</li>
                        <li>Un prototype de solution de reconnaissance faciale utilisant des librairies Python en open-source pour faire du contrôle d'accès à des zones restreintes.</li>
                        <li>Une fonctionnalité cross-platforms de vérification d'habilitations pour des techniciens intervenant sur des sites industriels, et conditionnant la planification de leurs éventuels déplacements sur les différentes sites.</li>
                        <li>Le mentoring d'étudiants afin de les aider à obtenir leur titre certifiant de développeur web.</li>
                    </ul>
                </div>
            </section>        
        </div>
    </main>

    <script src="https://kit.fontawesome.com/2ca8f27d54.js" crossorigin="anonymous"></script>

</body>
</html>