<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yactouat.fr | {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>

    <header>
        <img src="./assets/images/yactouat.jpeg" alt="yactouat's picture" />
        <h1>yactouat.fr</h1>
        <h2>web developer / mentor en développement web</h2>
        {% if withPersonalIntro is defined %}
            <p class="header_about-text">
                Développeur web généraliste, curieux, motivé et positif; j'aime concevoir des solutions full stack afin de vous aider à relever vos challenges.
            </p>
        {% endif %}
        <div id="header_social-icons">
            <a class="header_social-icon" href="https://www.linkedin.com/in/yactouat/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="header_social-icon" href="https://dev.to/yactouat" target="_blank"><i class="fa-brands fa-dev"></i></a>
            <a class="header_social-icon" href="https://github.com/yactouat" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a class="header_social-icon" href="https://twitter.com/yactouat" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="header_social-icon" href="https://stackoverflow.com/users/9499355/yactouat" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
            <a class="header_social-icon" href="https://www.meetup.com/fr-FR/members/313767573/" target="_blank"><i class="fa-brands fa-meetup"></i></a>
        </div>
    </header>

    <main>
        {% block mainContent %}{% endblock %}
    </main>

    <footer>
        <p class="footer_built-with-love-text">
            Built with <i class="fa-solid fa-heart"></i> using <i class="fa-brands fa-php"></i> and the <a href="https://cloud.google.com/" target="_blank"><img 
                src="./assets/images/google-cloud.png" 
                alt="Google Cloud Platform logo"
                class="responsive-img responsive-img-small"
            /></a> platform.
        </p>
        <p class="footer_attr-text">
            <a href="https://www.flaticon.com/free-icons/google-cloud" title="google cloud icons">icone Google cloud créée par Freepik - Flaticon</a>
        </p>
    </footer>

    <script src="https://kit.fontawesome.com/2ca8f27d54.js" crossorigin="anonymous"></script>

</body>
</html>